@import "../main.scss";

:root {
    // ***************************************************** //
    // ************************LIGHT************************ //
    // ***************************************************** //

    // base
    --brand: #ff6869;
    --brand-opacity: #ff686857;

    --accent: #333333;
    --accent-opacity: #33333357;

    --mode: #ffffff;
    --background: #f4f7f9;
    --text: #303438;

    --gray-100: #edf0f4;
    --gray-200: #717579;
    --gray-300: #535D65;

    // **************************************************** //
    // ************************DARK************************ //
    // **************************************************** //

    &.dark {
        // base
        --brand: #333;
        --background: #112d33;

        --mode: #ffffff;
        --background: #f4f7f9;
        --text: #303438;
    }
}
